<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
    <title>Home | Youni</title>
</head>
<body>
    <header class="masthead mb-auto">
        <div class="inner">
            <a href="/">
                
            </a>
            <nav class="nav nav-masthead justify-content-center">
                <a href="/" class="nav-link">Home</a>
                <a href="/youcompare_rent" class="nav-link">Rent</a>
                <a href="/youcompare_convenience" class="nav-link">Convenience</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <div class="cover-container">
            <img src="/static/images/Youni.png" alt="Youni Logo" width="100" height="100" class="logo-image"> <!-- Increase the size here -->
            <div class="bg-image"></div>
            
            <div class="transparent-box">
                <h1>About</h1>
                <p>Youni is the ultimate one-stop platform offering an extensive New York City Housing Guide specifically designed for students. By combining rental price data and insights from 311 complaint information, we provide a comprehensive, tailored solution for students looking to find their perfect home away from home in the Big Apple. Our platform empowers students by delivering crucial information on rental prices, neighborhood characteristics, and potential issues, all in one easy-to-use website.</p>
                <h2>Our Mission</h2>
                <p>Our mission is to simplify the moving process for students by providing valuable insights and resources for finding the best housing options in New York City.</p>
            </div>
        </div>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Copyright &copy; 2023 Youni. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>









